<header class="header">
    <div class="header_logo_container">
        <a href="index.php"><img class="header_logo" src="./images/afpictures_logo_byn.svg" alt="logo AF pictures"></a>
    </div>
    <div class="js_icon_container">
        <div class="hamburguer_container">
            <span class="hamburguer_text">Menú</span>
            <i class="header_icon burguer_icon fa-solid fa-bars"></i>
        </div>
        <div class="x_icon_container hidden">
            <i class="header_icon x_icon fa-solid fa-xmark"></i>
        </div>
    </div>
    <nav class="header_nav hidden">
       <ul class="header_links_container">            
            <li><a href="index.php">Home</a></li>
            <li><a href="catalogo.php">Catálogo</a></li>
            <li><a href="contacto.php">Contacto</a></li>        
       </ul>
       <div class="logo_nav_mobile">
        <a href="index.php"><img class="header_logo" src="./images/afpictures_logo_byn.svg" alt="logo AF pictures"></a>
        </div>
    </nav>   
</header>